<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="patientEmail">Correo electrónico</label>
        <input
          type="text"
          class="form-control"
          name="patientEmail"
          [(ngModel)]="form.patientEmail"
          required
          #patientEmail="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="patientEmail.errors && f.submitted"
        >
          Correo electrónico es requerido!
        </div>
      </div>

      <div class="form-group">
        <label for="patientPassword">Password</label>
        <input
          type="password"
          class="form-control"
          name="patientPassword"
          [(ngModel)]="form.patientPassword"
          required
          minlength="6"
          #patientPassword="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="patientPassword.errors && f.submitted"
        >
          <div *ngIf="patientPassword.errors['required']">La contraseña es requerida!</div>
          <div *ngIf="patientPassword.errors['minlength']">
            El campo debe contener mínimo 6 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Iniciar Sesión
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Inicio de sesión fallido: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Hola bienvenido(a) {{ patientComleteName }}.
    </div>
  </div>
</div>
