  <div class="full_bg" style="margin-top: 10%;">
    <div class="container_width">
      <section class="u-align-left u-clearfix u-white u-section-1" id="carousel_68fb">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-size-26 u-white u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h1 class="u-custom-font u-text u-text-1">{{titulo}}</h1>
                    <h5 class="u-custom-font u-font-montserrat u-text u-text-2">{{subtitulo}}</h5>
                    <p class="u-text u-text-3">{{parrafo}}</p>
                    <a href="/register" class="u-active-palette-3-light-2 u-black u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-palette-3-light-2 u-radius-0 u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-2">Registrate!</a>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-2">
                    <div class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-1"></div>
                    <img src="../../assets/citas.png" alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="1200" data-image-height="1034">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>